@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container col-xl-8 p-4 mt-5">
        <div class="row row-cols-1 h-100">
            <div class="col">
                <h1 class="font-weight-bold lh-1 mb-5">Palindrome Test (String Reversal)</h1>
                <h4 class="lead">This program reverses a user's input string, reverses it, then determines if the word is a Palindrome or not</h4>
                <h5 class="mb-5"> A palindrome is a word that is spelled the same way forwards and backwards. For example, Dr. Awkward or madam.</h5>                
            </div>    
            <div class="col">
                <a class="btn btn-outline-dark btn-lg px-4" type="button" asp-area="" asp-controller="Home" asp-action="Reverse">
                    View App!
                </a>                    
            </div>
        </div>
    </div>    
</div>
